<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title th:text="${title}"></title>
  
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <div class="dashboard">

    <header th:replace="blocks/header :: header"></header>
    
    <h1>Добавление задания</h1>
    
    <form action="/addTask" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

      <input type="text" name="theme" placeholder="Введите тему" required>
      <textarea  style="resize: none;"     name="text" placeholder="Введите содержание задания" required rows="4" ></textarea>

      
      
      <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></div>
      <button type="submit">Добавить</button>
    </form>
    
  </div>
  <script th:src="@{/js/script.js}"></script>
</body>
</html>