<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="'Отчёты по компрессору ' + ${compressor.number}"></title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="dashboard">
    <header th:replace="blocks/header :: header"></header>
    <div class="block-title" th:text="'Компрессор ' + ${compressor.number}"></div>
    <p th:text="' Наработка: ' + ${reports[reports.size() - 1].workingTime} + ' часов' "></p>


    <div class="main-grid">
        <div class="block">
            <canvas id="coolantTemp" ></canvas>
        </div>
        <div class="block">
            <canvas id="oilPressure" ></canvas>
        </div>
        <div class="block">
            <canvas id="gasPollution" ></canvas>
        </div>
        <div class="block">
            <canvas id="dewPoint" ></canvas>
        </div>
        <div class="block">
            <canvas id="vibration" ></canvas>
        </div>

    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    window.reports = /*[[${reports}]]*/ [];
    /*]]>*/
</script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/scriptCharts.js}"></script>

</body>
</html>
