<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title th:text="${title}"></title>
  
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <div class="dashboard">

    <header th:replace="blocks/header :: header"></header>
    
    <h1>Присоединиться к станции</h1>
    
    <form action="/joinToStation" method="post" th:object="${formData}">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

      <select name="stationId">
        <option value="" disabled selected>Выберите станцию</option>
        <option th:each="station : ${stations}" 
                th:value="${station.id}" 
                th:text="${station.city} + ' - ' + ${station.number}"></option>
      </select>
       <input type="text" name="codeWord" placeholder="Введите кодовое слово" required>
      
      <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></div>
      <button type="submit">Присоединиться</button>
    </form>
    
  </div>
  <script th:src="@{/js/script.js}"></script>
</body>
</html>