<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title th:text="${title}"></title>
  
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <div class="dashboard">
    <header th:replace="blocks/header :: header"></header>
    <h1>Вы действительно хотите покинуть станцию?</h1>
    
   <form th:action="@{/outStation}" method="post" >
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Покинуть станцию</button>
    </form>
  </div>
  <script th:src="@{/js/script.js}"></script>
</body>
</html>

