
<div th:fragment="header">
    <div class="header">
         <div sec:authorize="!isAuthenticated()" class="nav-bar">
            <a href="/registration">Регистрация</a>
            <a href="/authorization">Вход</a>
        </div>
        
        <div sec:authorize="isAuthenticated()" class="nav-bar">
            <a href="/logout">Выйти</a>
        </div> 

        <div class="header-actions" sec:authorize="isAuthenticated()">
            <button onclick="goHome()"  class="navbtn"> 🏠 </button>
            <button onclick="profile()" class="navbtn" > 👤 </button>

          

        </div>
    </div>
</div>



